<h3>Here is all the info on this word:</h3>

<h1><%= @word.word %></h1>
<h1><%= @word.language %></h1>
<h1><%= @word.origin %></h1>

<ul>
  <% @word.definitions.each do |info| %>
  <li><%= info.first %> <%= info.second %> <%= info.third %> %></li>
  <% end %>
</ul>

<a href="/definition_form/<%= @word.id%>/definition/new">Add a new definition</a>

<a href="/">Return to Main Page</a>
